<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style lang="scss">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .box {
            margin: 20px;
        }

        c-button {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="box">
            <!-- <div class="list">
                <template v-if="count">
                    <ul>
                        <li v-for="item in items">...</li>
                    </ul>
                    <c-pagination :page-index="currentPage" :total="count" :page-size="pageSize" @change="pageChange">
                    </c-pagination>
                </template>
            </div> -->

            <c-pagination :page-index="currentPage" :total="count" :page-size="pageSize" @change="pageChange">
            </c-pagination>
        </div>
        <div class="box">
            <c-tabs :selected.sync="selectedTab">
                <c-tabs-head>
                    <c-tabs-item name='tab1'>
                        <!-- <c-icon icon-name="settings"></c-icon> -->
                        Tab1
                    </c-tabs-item>
                    <c-tabs-item name='tab2'>Tab2123123</c-tabs-item>
                    <c-tabs-item name='tab3'>Tab3</c-tabs-item>
                    <c-tabs-item name='tab4'>Tab4</c-tabs-item>
                </c-tabs-head>
                <c-tabs-body>
                    <c-tabs-panel name='tab1'>内容1</c-tabs-panel>
                    <c-tabs-panel name='tab2'>内容2</c-tabs-panel>
                    <c-tabs-panel name='tab3'>内容3</c-tabs-panel>
                    <c-tabs-panel name='tab4'>内容4</c-tabs-panel>
                </c-tabs-body>
            </c-tabs>
        </div>
        <div class="box">
            <div class="grid-wrapper">
                <c-row class="row">
                    <c-col class="item" span="24">col-24</c-col>
                </c-row>
                <c-row>
                    <c-col class="item" span="12">col-12</c-col>
                    <c-col class="item" span="12">col-12</c-col>
                </c-row>
                <c-row class="row">
                    <c-col class="item" span="8">col-8</c-col>
                    <c-col class="item" span="8">col-8</c-col>
                    <c-col class="item" span="8">col-8</c-col>
                </c-row>
                <c-row class="row">
                    <c-col class="item" span="6">col-6</c-col>
                    <c-col class="item" span="6">col-6</c-col>
                    <c-col class="item" span="6">col-6</c-col>
                    <c-col class="item" span="6">col-6</c-col>
                </c-row>
            </div>
        </div>
        <div class="box">
            <c-input v-model:value="value1" placeholder="同步输入框"></c-input>
            <br>
            <c-input :value="value1" placeholder="同步输入框"></c-input>
            <br>
            <c-input value="触发focus事件" @focus="fn"></c-input>
            <br>
            <c-input value="触发blur事件" @blur="fn"></c-input>
            <br>
            <c-input disabled value="禁用"></c-input>
            <br>
            <c-input readonly value="只读"></c-input>

        </div>
        <div class="box">
            <h2>按钮组</h2>
            <c-button-group>
                <c-button icon="left">上一页</c-button>
                <c-button icon="right" icon-position="right">下一页</c-button>
            </c-button-group>
            <c-button-group>
                <c-button icon="addto">添加</c-button>
                <c-button icon="delete">删除</c-button>
                <c-button icon="edit">编辑</c-button>
            </c-button-group>
            <c-button-group>
                <div>1</div>
                <div>1</div>
                <div>1</div>
            </c-button-group>
        </div>
        <div class="box">
            <c-icon name="edit"></c-icon>
        </div>
        <div class="box">
            <c-collapse :selected.sync="selected" single>
                <c-collapse-item title="糖果" name="1">
                    <p>软糖</p>
                    <p>话梅糖</p>
                    <p>奶糖</p>
                </c-collapse-item>
                <c-collapse-item title="动漫" name="2">
                    <p>死亡笔记</p>
                    <p>黑礁</p>
                    <p>斩服少女</p>
                </c-collapse-item>
                <c-collapse-item title="水果" name="3">
                    <p>橘子</p>
                    <p>西瓜</p>
                    <p>菠萝</p>
                </c-collapse-item>
            </c-collapse>
        </div>
        <div class="box">
            <h3>Switch</h3>
            <c-switch v-model:value="checked"></c-switch>
            <span>{{checked}}</span>
            <c-switch disabled></c-switch>
            <c-switch v-model:value="checked1" disabled></c-switch>

        </div>
        <div class="box">
            <h3>Button</h3>
            <c-button @click="f1">点击</c-button>
            <br>
            <br>
            <c-button disabled>禁用</c-button>
            <br>
            <br>
            <c-button size="small">小型按钮</c-button>
            <c-button>中型按钮</c-button>
            <c-button size="large">大型按钮</c-button>
            <br>
            <br>
            <c-button circle size="small">小圆</c-button>
            <c-button circle>中圆</c-button>
            <c-button circle size="large">大圆</c-button>
            <br>
            <br>
            <c-button type="primary">主要</c-button>
            <c-button type="success">成功</c-button>
            <c-button type="info">信息</c-button>
            <c-button type="warning">警告</c-button>
            <c-button type="danger">危险</c-button>
            <br>
            <br>
            <c-button type="danger" icon="edit" icon-position="right">危险</c-button>
            <c-button type="danger" loading>危险</c-button>


        </div>

    </div>
    <script src="./src/app.js"></script>

</body>

</html>